<h2>Buscar Peliculas</h2>

<form [formGroup] = "form">
    <mat-form-field appearance = "outline">
        <mat-label>Titulo</mat-label>
        <input formControlName ="titulo" matInput/>
    </mat-form-field>


    <mat-form-field appearance = "outline">
        <mat-label>Género</mat-label>
        <mat-select formControlName = "generoId">
            <mat-option *ngFor="let genero of generos" [value] = "genero.id">{{genero.nombre}}</mat-option>
            <!-- <mat-option [value] = "'1'">Drama</mat-option>
            <mat-option [value] = "'2'">Acción</mat-option>
            <mat-option [value] = "'3'">Thriller</mat-option>
            <mat-option [value] = "'4'">Anime</mat-option> -->
        </mat-select>
    </mat-form-field>

    <div>
        <mat-checkbox formControlName = "proximoEstrenos">Próximos Estrenos</mat-checkbox>
    </div>

    <div>
        <mat-checkbox formControlName = "enCines">En Cines</mat-checkbox>
    </div>
    <div class = "contenedor-limpiar">
        <button mat-flat-button (click) ="limpiar()" color = "warn">Limpiar</button>
    </div>
</form>

<app-listado-peliculas [peliculas]= "peliculas"></app-listado-peliculas>