<!-- <input type = "file" style = "display: none" #cargador>

<button (click) ="cargador.click()">Cargar Archivo</button> -->

<app-menu></app-menu>
<div class ="contenedor">
    <router-outlet></router-outlet>
    
    <!-- <div>
        <input type ="text" (input) = "title = $any($event.target).value"/>
    </div>
    <div>
        <input type="checkbox" (change) = "ocultar = !ocultar"/> Ocultar
    </div>
    <app-ciclo-de-vida *ngIf = "ocultar"  [titulo] = "title"></app-ciclo-de-vida> -->
    <!-- <app-ratting (rated)="manejarRated($event)"></app-ratting> -->
    <!-- <h2>EN CINES</h2>

    <app-listado-peliculas [peliculas] = "peliculasEnCines"></app-listado-peliculas>
    
    <h2>FUTUROS ESTRENOS</h2>
    
    <app-listado-peliculas [peliculas] = "peliculasExtrenos"></app-listado-peliculas> -->
</div>
